/*
* TR working css until node.js is working 
 */
 .navbar-tsdark {
	background: @ts-bluedark; 
	-webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.3);
	border:none;
	border-radius: 0;
	margin-bottom: 0;

}

.avatar-id {
	padding: 5px 15px;
	min-width: 275px;
	font-size: 14px;
	color:#fff;
	div {
		a {
			color: @link-color-light;
		}
		a:hover {
			color: #fff;
		}
	}
}

#subnav-interstitial {
	border:0;
	padding:0;
	margin: 0;
}

#subnav-interstitial {
 	.nav {
 		.nav-dark {
 				border-right: 1px solid @link-color-light;
				border-left: 1px solid @link-color-light;
 			a {
 				color: @link-color-light;
 			}
 			a:hover {
 				color: #fff;
				opacity: 1;
				background:darken(@ts-bluedark, 10%);
 			}
 			.a-i20{
	 			padding: 12px 15px;
	 		}
 		}
 		.nav-dark.active {
			a {
				color: darken(@ts-bluedark, 10%);
				background:#fff;
				opacity:.8;
			}
			a:hover {
				color: darken(@ts-bluedark, 10%);
				background:#fff;
				opacity:.8;
			}
		}
	}
	.navbar-right {
		.nav-icon {
			padding:0;
			a {
 				color: @link-color-light;
 				padding:14px;
 			}
 			a:hover {
 				color: #fff;
			}
		}
		.call-to-action {
			padding:8px;

		}
	}
}

