/*------------------------------------------------------------------
[Table of contents]

1. Body

2. Typography
	2.1 Heading
		2.1.1 Heading for Message Box & Modals
	2.2 Icon Fonts

3. Color
	3.1 Product Specific

4. Header / #header

5. Content / #content
	5.1 Nav
		5.1.1 Breadcrumb
		5.1.2 Left Nav
	5.2 Modal Dialog
	5.3 Table

6. Footer / #footer
-------------------------------------------------------------------*/

/*	1. Body ------------------------------------------------------ */

/*	2. Typography ------------------------------------------------ */
/*	2.1 Heading -------------------------------------------------- */
h1{
	color: @gray-darker;
}

h2, h3{
	color: @ts-deep;
}
h4, h5{
	color: @brand-primary;
}
/*	2.1.1 Heading for Message Box & Modals ------------------------ */
.bs-callout h4{
color: @gray;
font-size: @font-size-h3;
}
h4.modal-title {
color: @gray;
font-size: @font-size-h3;
}
/*	2.2 Icon Fonts ----------------------------------------------- */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*	3. Color ------------------------------------------------------ */
/*	3.1 Product Specific ------------------------------------------ */

.reflect		{ color: @reflect; }
.focus			{ color: @focus; }
.learn			{ color: @learn; }
.advance		{ color: @advance; }



/*	4. Header ------------------------------------------------------ */


/*	5. Content ----------------------------------------------------- */
/*	5.1 Nav -------------------------------------------------------- */
/*	5.1.1 Breadcrumb ----------------------------------------------- */
.breadcrumb > li + li:before {
padding: 0 5px;
color: @gray-light;
font-family: 'TS';
content: "\f0da"; // character code for   icon-caret-right 

}

/*	5.1.2 Left Nav ------------------------------------------------- */
.bs-sidenav {
	line-height:1em;
	font-size:14px;
}

/*	5.2 Modal Dialog ------------------------------------------------ */
.modal-backdrop {
  // Fade for backdrop
  &.fade { .opacity(0); }
  &.in { .opacity(.7); }
}


/*	5.3 Table ------------------------------------------------------- */
th {
	font-weight: normal;	
	color: @brand-primary;  // If not sortable.
}

/*	6. Footer ------------------------------------------------------- */