/*------------------------------------------------------------------
[Table of contents]

1. Body

2. Typography
	2.1 Heading
		2.1.1 Heading for Message Box & Modals
	2.2 Icon Fonts

3. Color
	3.1 Product Specific

4. Header / #header

5. Content / #content
	5.1 Nav
		5.1.1 Breadcrumb
		5.1.2 Left Nav
	5.2 Modal Dialog
	5.3 Table

6. Footer / #footer
-------------------------------------------------------------------*/

/*	1. Body ------------------------------------------------------ */

/*	2. Typography ------------------------------------------------ */
/*	2.1 Heading -------------------------------------------------- */
h1{
  color: @gray-darker;
}

h2, h3{
  color: @deep;
}
h4, h5{
  color: @brand-primary;
}
/*	2.1.1 Heading for Message Box & Modals ------------------------ */
.bs-callout h4{
  color: @gray;
  font-size: @font-size-h3;
}
h4.modal-title {
  color: @gray;
  font-size: @font-size-h3;
}
/*	2.2 Icon Fonts ----------------------------------------------- */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*	3. Color ------------------------------------------------------ */
/*	3.1 Product Specific ------------------------------------------ */

.reflect		{ color: @reflect; }
.focus			{ color: @focus; }
.learn			{ color: @learn; }
.advance		{ color: @advance; }



/*	4. Header ------------------------------------------------------ */


/*	5. Content ----------------------------------------------------- */
.admin-wrap {
	width:100%;
	background:@gray-lighter;
}

/*	5.1 Nav & Buttons ---------------------------------------------- */
.dropdown-menu > li > a {
	color:@link-color;
}

/*	5.1.1 Breadcrumb ----------------------------------------------- */
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: @gray-light;
  font-family: 'TS';
  content: "\f0da"; // character code for   icon-caret-right

}

/*	5.1.2 Left Nav ------------------------------------------------- */
.bs-sidenav {
  line-height:1em;
  font-size:14px;
}

/*	5.2 Modal Dialog ------------------------------------------------ */
.modal-backdrop {
  // Fade for backdrop
  &.fade { .opacity(0); }
  &.in { .opacity(.7); }
}


/*	5.3 Table ------------------------------------------------------- */


/*	6.0  Background Elements ---------------------------------------- */
.panel {
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.panel-content {
  margin:0px 25px;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
  }
}

.content-single {
  margin-top: 25px;
  margin-bottom: 25px;
}

.content-row-header, .content-row-center, .content-row-footer {
  margin-left:0;
  margin-right:0;
  padding-left:25px;
  padding-right:25px;
}

.content-row-header {
  margin-top:25px;
}
.content-row-center {
  padding-top:25px;
  padding-bottom:25px;
}

.row-fixed {
  padding-top:25px;
  padding-bottom:25px;
  height:150px;
  overflow:hidden;
}

.content-row-footer {
  margin-top:25px;
  margin-bottom:25px;
}


/*	7. Lists & Icon details ------------------------------------------------------- */
.link-list > li {
  color: @gray-light; /* bullet color */
  span {
    color: @text-color; /* text color */
  }
}


/*	8. Footer ------------------------------------------------------- */
/*	9. Utilities ---------------------------------------------------- */

.smaller { /*-- make smaller font size --*/
  font-size: @font-size-small;
}
.larger { /*-- make larger font size --*/
  font-size: @font-size-large;
}

.align-center {
  text-align:center;
}
.align-right {
  text-align:right;
}

.row-admin {
  padding: 0px 30px;
  margin:0;
}

.mar-top-20 {
	margin-top:20px;
}

.pad-top-30 {
  padding-top:30px;
}

.pad-bot-30 {
  padding-bottom:30px;
}
.pad-top-20 {
  padding-top:20px;
}

.pad-bot-20 {
  padding-bottom:20px;
}

.border-bot-dot {
  border-bottom:1px dotted #737373;
}

.label {
  margin-top:-4px;
}

.label-gray {
  background: @gray-light;
}

.label-light {
  background: @gray-lighter;
}

.label-dark {
  background: @gray-darker;
}

.label-focus {
  background: @focus;
}

//gradient use as function
.gradient (@origin: left, @start: #ffffff, @stop: #999999) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}



